body {
  margin: 0;
  background: #222;
  font-family: system-ui;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  max-width: 400px;
  width: 100%;
}

